*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    height: 100%;
    background: url('../components/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 0.5%;
}
.inspired{
    margin-bottom: 5%;
    text-align: center;
    font-size: 15px;
}
.row{
    margin: 2%;
    position: relative;
}


@media (min-width: 992px) {




.card{
    
    width: 23%;
    height: 329px;
    float: left;
    padding: 0%;
    margin: 2%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #DDDDDA;
   
}

h2{
    font-style: bold;
    font-size: 140%;
    text-align: center;
    float: right;
    margin-top: 0%;
    width: 50%;
    padding: 3%;
    border-radius: 9px;
    background-color: #FFF8F8;
    border: 1px solid black;
}

p{
    display: flex;
    align-items: center;
    clear: right;
    text-align: center;
    font-size: 80%;
    padding: 2%;
    margin: 5%;
    background-color:rgba(229, 229, 229, 0.4);
}

div:nth-child(3){
    margin-left: 12%;
    background-image: url(../components/SpiritAway.gif);
    
}
div:nth-child(4){
    background-image: url(../components/Ponyo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
div:nth-child(5){
    background: url(../components/Fireflies.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.grave{
    width: 70%;
}

}


@media (min-width: 768px) and (max-width: 991px){
    
    
.img{
    position: relative;
    width: 10%;
}
    .card{
        width: 40%;
        height: 329px;
        float: left;
        padding: 0%;
        margin:1%;
        margin-left: 5%;
        border-radius: 10px;
        border: 1px solid black;
        background-color: #DDDDDA;
        
    }
    
    h2{
        font-style: bold;
        font-size: 150%;
        text-align: center;
        float: right;
        border: 1px solid black;
        margin-top: 0%;
        width: 40%;
        padding: 3%;
        border-radius: 9px;
        background-color: #FFF8F8;
    }
    
    p{
        clear: right;
        text-align: center;
        font-size: 100%;
        padding: 10px;
        margin: 15px;
        background-color:rgba(229, 229, 229, 0.4);
    }
    div:nth-child(5){
        width: 86%;
        height: min-content;
        background: url(../components/Fireflies.gif);
        background-repeat: no-repeat;
        background-size: cover;
       
    } 
    div:nth-child(3){
        background-image: url(../components/SpiritAway.gif);
        background-size: cover;
    }
    div:nth-child(4){
        background-image: url(../components/Ponyo.gif);
        background-repeat: no-repeat;
        background-size: cover;
    }
 
}
@media (max-width: 767px){
    html{
        height: 250%;
        background: url('../components/background.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {
        text-align: center;
        font-size: 46px;
    }
    .inspired{
        margin-bottom: 5%;
        text-align: center;
        font-size: 15px;
    }
    
    .card{
        width: 50%;
        height: 329px;
        float: left;
        padding: 0%;
        margin-left:25%;
        margin-bottom: 7%;
        border-radius: 10px;
        border: 1px solid black;
        background-color: #DDDDDA;
    }
    
    h2{
        font-style: bold;
        font-size: 150%;
        text-align: center;
        float: right;
        border: 1px solid black;
        margin-top: 0%;
        width: 40%;
        padding: 3%;
        border-radius: 9px;
        background-color: #FFF8F8;
    }
    
    p{
        clear: right;
        text-align: center;
        font-size: 85%;
        padding: 10px;
        margin: 15px;
        background-color:rgba(229, 229, 229, 0.4);
    }
    div:nth-child(4){
        background-image: url(../components/Ponyo.gif);
        background-repeat: no-repeat;
        background-size: cover;
    }
    div:nth-child(5){
        background: url(../components/Fireflies.gif);
        background-repeat: no-repeat;
        background-size: cover;
       
    } 
    div:nth-child(3){
        background-image: url(../components/SpiritAway.gif);
        background-size: cover;
    }
    } 
 
